<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.order.dao.read.KickbackDetailReadDao">
  <resultMap id="kickbackDetailResponseDtoResultMap" type="com.star.truffle.module.order.dto.res.KickbackDetailResponseDto">
    <result column="id" property="id" />
    <result column="distributor_id" property="distributorId" />
    <result column="point_time" property="pointTime" />
    <result column="total_money" property="totalMoney" />
    <result column="create_time" property="createTime" />
    <result column="state" property="state" />
    <result column="reject" property="reject" />
  </resultMap>

  <sql id="sql_column">
    id, distributor_id, point_time, total_money, create_time, state, reject
  </sql>

  <sql id="sql_where">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="distributorId != null">
        and distributor_id = #{distributorId}
      </if>
      <if test="state != null">
        and state = #{state}
      </if>
    </trim>
  </sql>

  <select id="getKickbackDetail" resultType="com.star.truffle.module.order.dto.res.KickbackDetailResponseDto">
    select
    <include refid="sql_column" />
    from kickback_detail
    where id = #{id}
  </select>

  <select id="queryKickbackDetail" resultMap="kickbackDetailResponseDtoResultMap">
    select
    <include refid="sql_column" />
    from kickback_detail
    <include refid="sql_where" />
    order by
    <choose>
      <when test="pager != null and pager.orderBy != null and pager.orderBy != ''">${pager.orderBy}</when>
      <otherwise>id</otherwise>
    </choose>
    <if test="pager != null and pager.orderType != null and pager.orderType != ''">${pager.orderType}</if>
    <if test="pager != null and pager.pageSize!=null and pager.startIndex!=null">
      limit #{pager.startIndex}, #{pager.pageSize}
    </if>
  </select>

  <select id="queryKickbackDetailCount" resultType="java.lang.Long">
    select
    count(1)
    from kickback_detail
    <include refid="sql_where" />
  </select>
</mapper>