<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.order.dao.write.DeliveryAddressWriteDao">
  <insert id="saveDeliveryAddress" useGeneratedKeys="true" keyProperty="id" parameterType="com.star.truffle.module.order.domain.DeliveryAddress">
    insert into delivery_address(id, member_id, `name`, mobile, province_id, city_id, area_id, address, def)
    values(#{id}, #{memberId}, #{name}, #{mobile}, #{provinceId}, #{cityId}, #{areaId}, #{address}, #{def})
  </insert>

  <insert id="batchSaveDeliveryAddress" parameterType="java.util.List">
    insert into delivery_address(id, member_id, `name`, mobile, province_id, city_id, area_id, address, def)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id}, #{item.memberId}, #{item.name}, #{item.mobile}, #{item.provinceId}, #{item.cityId}, #{item.areaId}, #{item.address}, #{item.def})
    </foreach>
  </insert>

  <update id="updateDeliveryAddress" parameterType="com.star.truffle.module.order.dto.req.DeliveryAddressRequestDto">
    update delivery_address
    <trim prefix="set" suffixOverrides=",">
      <if test="memberId != null">member_id = #{memberId},</if>
      <if test="name != null and name != ''">`name` = #{name},</if>
      <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
      <if test="provinceId != null">province_id = #{provinceId},</if>
      <if test="cityId != null">city_id = #{cityId},</if>
      <if test="areaId != null">area_id = #{areaId},</if>
      <if test="address != null and address != ''">address = #{address},</if>
      <if test="def != null">def = #{def},</if>
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteDeliveryAddress" parameterType="java.lang.Long">
    delete from delivery_address where id = #{id}
  </delete>

  <resultMap id="deliveryAddressResponseDtoResultMap" type="com.star.truffle.module.order.dto.res.DeliveryAddressResponseDto">
    <result column="id" property="id" />
    <result column="member_id" property="memberId" />
    <result column="name" property="name" />
    <result column="mobile" property="mobile" />
    <result column="province_id" property="provinceId" />
    <result column="city_id" property="cityId" />
    <result column="area_id" property="areaId" />
    <result column="address" property="address" />
    <result column="def" property="def" />
    <result column="provinceName" property="provinceName" />
    <result column="cityName" property="cityName" />
    <result column="areaName" property="areaName" />
  </resultMap>

  <sql id="sql_column">
    id, member_id, `name`, mobile, province_id, city_id, area_id, address, def, p.shortName provinceName, c.shortName cityName, a.shortName areaName
  </sql>

  <select id="getDeliveryAddress" resultType="com.star.truffle.module.order.dto.res.DeliveryAddressResponseDto">
    select
    <include refid="sql_column" />
    from delivery_address
    INNER JOIN sys_area p on p.areaId = delivery_address.province_id
    INNER JOIN sys_area c on c.areaId = delivery_address.city_id
    INNER JOIN sys_area a on a.areaId = delivery_address.area_id
    where id = #{id}
  </select>

</mapper>