<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.order.dao.write.KickbackDetailWriteDao">
  <insert id="saveKickbackDetail" useGeneratedKeys="true" keyProperty="id" parameterType="com.star.truffle.module.order.domain.KickbackDetail">
    insert into kickback_detail(id, distributor_id, point_time, total_money, create_time, state, reject)
    values(#{id}, #{distributorId}, #{pointTime}, #{totalMoney}, #{createTime}, #{state}, #{reject})
  </insert>

  <insert id="batchSaveKickbackDetail" parameterType="java.util.List">
    insert into kickback_detail(id, distributor_id, point_time, total_money, create_time, state, reject)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id}, #{item.distributorId}, #{item.pointTime}, #{item.totalMoney}, #{item.createTime}, #{item.state}, #{item.reject})
    </foreach>
  </insert>

  <update id="updateKickbackDetail" parameterType="com.star.truffle.module.order.dto.req.KickbackDetailRequestDto">
    update kickback_detail
    <trim prefix="set" suffixOverrides=",">
      <if test="distributorId != null">distributor_id = #{distributorId},</if>
      <if test="pointTime != null">point_time = #{pointTime},</if>
      <if test="totalMoney != null">total_money = #{totalMoney},</if>
      <if test="createTime != null">create_time = #{createTime},</if>
      <if test="state != null">state = #{state},</if>
      <if test="reject != null and reject != ''">reject = #{reject},</if>
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteKickbackDetail" parameterType="java.lang.Long">
    delete from kickback_detail where id = #{id}
  </delete>

  <resultMap id="kickbackDetailResponseDtoResultMap" type="com.star.truffle.module.order.dto.res.KickbackDetailResponseDto">
    <result column="id" property="id" />
    <result column="distributor_id" property="distributorId" />
    <result column="point_time" property="pointTime" />
    <result column="total_money" property="totalMoney" />
    <result column="create_time" property="createTime" />
    <result column="state" property="state" />
    <result column="reject" property="reject" />
  </resultMap>

  <sql id="sql_column">
    id, distributor_id, point_time, total_money, create_time, state, reject
  </sql>

  <select id="getKickbackDetail" resultType="com.star.truffle.module.order.dto.res.KickbackDetailResponseDto">
    select
    <include refid="sql_column" />
    from kickback_detail
    where id = #{id}
  </select>

</mapper>