<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.star.truffle.module.order.dao.write.OrderAfterSaleWriteDao">
  <insert id="saveOrderAfterSale" useGeneratedKeys="true" keyProperty="id" parameterType="com.star.truffle.module.order.domain.OrderAfterSale">
    insert into order_aftersale(detail_id, order_id, after_code, remark, state, reason, create_time, update_time)
    values(#{detailId}, #{orderId}, #{afterCode}, #{remark}, #{state}, #{reason}, #{createTime}, #{createTime})
  </insert>

  <insert id="batchSaveOrderAfterSale" parameterType="java.util.List">
    insert into order_aftersale(detail_id, order_id, after_code, remark, state, reason, create_time, update_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.detailId}, #{item.orderId}, #{item.afterCode}, #{item.remark}, #{item.state}, #{item.reason}, #{item.createTime}, #{item.createTime})
    </foreach>
  </insert>

  <update id="updateOrderAfterSale" parameterType="com.star.truffle.module.order.dto.req.OrderAfterSaleRequestDto">
    update order_aftersale
    <trim prefix="set" suffixOverrides=",">
      <if test="state != null">state = #{state},</if>
      <if test="reason != null and reason != ''">reason = #{reason},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteOrderAfterSale" parameterType="java.lang.Long">
    delete from order_aftersale where id = #{id}
  </delete>

  <resultMap id="orderAfterSaleResponseDtoResultMap" type="com.star.truffle.module.order.dto.res.OrderAfterSaleResponseDto">
    <result column="id" property="id" />
    <result column="order_id" property="orderId" />
    <result column="after_code" property="afterCode" />
    <result column="name" property="name" />
    <result column="mobile" property="mobile" />
    <result column="despatch_money" property="despatchMoney" />
    <result column="total_money" property="totalMoney" />
    <result column="total_brokerage" property="totalBrokerage" />
    <result column="remark" property="remark" />
    <result column="state" property="state" />
    <result column="reason" property="reason" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <sql id="sql_column">
    order_aftersale.id, order_aftersale.detail_id, order_aftersale.order_id, order_aftersale.after_code, d.`name`, d.mobile, o.total_money, 
    order_aftersale.remark, order_aftersale.state, order_aftersale.reason, order_aftersale.create_time, order_aftersale.update_time,
    o.despatch_money, o.total_brokerage
  </sql>

  <select id="getOrderAfterSale" resultType="com.star.truffle.module.order.dto.res.OrderAfterSaleResponseDto">
    select
    <include refid="sql_column" />
    from order_aftersale
    left JOIN `order` o on order_aftersale.order_id = o.order_id
    LEFT JOIN distributor d on d.distributor_id = o.distributor_id
    where order_aftersale.id = #{id}
  </select>

</mapper>